body {
    background: #eee;
    font-family: 'Lucida Grande',verdana,arial,sans-serif;
    border-top: 6px solid #ccc;
}

#page {
    width: 970px;
    margin: 0 auto;
    position: relative;
}

.work-in-progress {
    background: #ff9 url(/images/stripe-yellow.png);
    font-size: 90%;
    text-align: center;
    padding: .6em;
    border-bottom: 3px solid #ee6;
    margin-top: -6px;
}
.work-in-progress span a {
    float: right;
    color: #000;
    font-weight: bold;
}

a.screenshot {
    width: 265px; 
    height: 301px;
    position: absolute;
    left: 640px;
    top: 100px;
    background-image: url(/images/screenshot_thumbnail.png);
    background-repeat: no-repeat;
}

#header {
    padding: 0 0 10px;
}
#header #report-form { 
    float: right; 
    color: #444; 
    font-size: 90%;
    background: #ccc url(/images/stripe.png);
    margin: 0;
    padding: 1em;

    -moz-border-radius-bottomleft: 8px;
    -moz-border-radius-bottomright: 8px;
    -webkit-border-bottom-left-radius: 8px;
    -webkit-border-bottom-right-radius: 8px;
}
#header #report-form input[type=text] {
    border: 1px solid;
    border-color: #666 #aaa #aaa #666;
    background: #f8f8f8;
    padding: 2px;
    width: 12em;
    font-weight: bold;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    font-size: 100%;
}
#header #report-form input[type=submit] {
    color: #eef;
    background: #36c url(/images/gradient-button.png) repeat-x;
    border: 1px solid #36c;
    font-size: 90%;
    padding: 1px 8px;

    -moz-border-radius: .5em;
    -webkit-border-radius: .5em;
}
#header #report-form input[type=submit]:hover {
    color: #fff;
    border-color: #039;
}

#header h1 {
    padding-top: 7px;
}
#header h1 a {
    color: #333;
    font-size: 40px;
    font-family: 'cooper std',georgia,times,serif;
    font-weight: bold;
    text-decoration: none;
    font-style: italic;
    letter-spacing: -1px;
    text-transform: lowercase;

    /* hide the text and show logo image */
    text-indent:-800em;
    display: block;    
    width: 155px;
    height: 34px;
    background: transparent url(/images/logo.png) no-repeat scroll 0 0;
}
#header p.tagline {
    color: #666;
    font-size: 70%;
    margin-left: 4px;
    margin-top: 2px;
}

#footer {
    clear: both;
    color: #666;
    background: #ccc url(/images/logo-sm.png) no-repeat center 6px;
    padding-bottom: 1em;
    padding-top: 34px;
}
#footer p {
    text-align: center;
    font-size: 70%;
    padding: 0;
}
#footer a {
    color: #333;
    text-decoration: none;
}
#footer a:hover {
    color: #333;
    border-bottom: 1px dotted #333;
}

#content {
    padding: 1.5em 1em;
    font-size: 90%;
    background: #fff;
    border: 4px solid #ccc;
    color: #333;

    -moz-border-radius-topleft: 8px;
    -moz-border-radius-topright: 8px;
    -webkit-border-top-left-radius: 8px;
    -webkit-border-top-right-radius: 8px;
}

#content.home p {
    width: 60%;
}

#content.home #sidebar {
    float: right;
    margin-right: 20px;
}

#content.home.index p.caption {
    margin-top: 240px;
    margin-right: 40px;    
    font-size: 80%;
    width: 260px;
    font-family: Arial, sans-serif;
    text-align: right;
    float: right;
}
#content.home.index p.caption abbr {
    font-style: italic;
    border-bottom: 1px dotted #000;
    cursor: help;
}

#content.home dl.quote {
    margin-top: 320px;
    text-align: right;
    
    background: #eef;
    border: 2px solid #ccf;
    padding: 1em;
    -moz-border-radius: 8px;
    -webkit-border-radius: 8px;
    
}
#content.home dl.quote dt {
    font-family: georgia,times,serif;
    font-size: 140%;
    color: #333;
}
#content.home dl.quote dd {
    margin-right: 8px;
    margin-top: 4px;
}
#content.home dl.quote dd.source {
    font-weight: bold;
    font-size: 110%;
    margin-top: 12px;
}

#content h2 {
    font-size: 220%;
    line-height: .9em;
    width: 60%;
    font-weight: normal;
    font-family: Georgia, Times, serif;
    color: #333;
    margin-bottom: .5em;
    letter-spacing: -2px;
}
#content h2 img {
    vertical-align: middle;
    padding-right: 8px;
}

#content.faq h3 {
    font-size: 120%;
    font-weight: bold;
    color: #333;
    margin-bottom: .5em;
    margin-top: 1em;
}

#content p {
    margin-bottom: 1em;
    line-height: 1.4em;
}

a {
    color: #36c;
    text-decoration: none;
}
a:hover {
    color: #69f;
}

table.calendar {
    float: left;
    margin-right: 1em;
    border-bottom: 1px solid #333;
}
table.calendar th.monthName {
    padding: .25em 0;
    font-weight: normal;
}
table.calendar tr.dayName th {
    background-color: #333;
    border: 1px solid #333;
    color: #fff;
    font-size: 70%;
    padding: .5em 0;
    text-transform: uppercase;
}
table.calendar td {
    height: 3em;    
    text-align: right;
}
table.calendar td.otherMonth,
table.calendar td.day {
    padding: .25em;
    width: 2.25em;
    border: 1px solid #333;
}
table.calendar td.weekendDay {
    background-color: #f8f8f8;
}
table.calendar td.day span, 
table.calendar td.otherMonth {
    font-size: 70%;
}
table.calendar td.day span {
    display: block;
}
table.calendar td ul.values {
    color: #666;
    font-size: 90%; 
}
table.calendar td.otherMonth {
    color: #bbb;
}
table.calendar td.today {
    background-color: #ccc;
}

#content blockquote.tweet {
    width: 32em; 
    margin: .5em 0;
    padding: .5em;
    background: #f4f4f4;
    font-family: monaco,consolas,'courier new',courier,monospace;
    -moz-border-radius: 4px;
    border-style: none solid solid none;
    border-width: 2px;
    border-color: #eee;
}
#content blockquote.tweet p {
    margin: 0 !important;
    width: 100% !important;
}

.highlight {
    background: #ff9;
/*    border-bottom: 2px solid #ff6;*/
}

.wait {
    background: url(/images/wait.gif) no-repeat 0 50%;
    padding-left: 13px;
}

.report.show .annotatedtimelinetable, .annotatedtimelinetable * {
    vertical-align: top;
}
.report.show h4 {
    font-size: 100%;
    font-weight: normal;
    margin-bottom: .5em;
    padding: .5em;
    color: #333;
    background: #eee;
    -moz-border-radius: 8px;
    -webkit-border-radius: 8px;
}
.report.show .report-container .data {
    padding: 0 .5em;
}
.report.show #timeline {
/*    height: 220px;*/
}
.report.show #calendar {
    padding-top: 2em;    
}
.report.show #stats-and-data {
    clear: both;
    min-height: 10em;
}
.report.show #stats {
    float: right;
    width: 300px;
    padding-top: 2em;
}
.report.show #stats dl {
    line-height: 1.2em;
}
.report.show #stats dl dt {
    float: left;
    width: 4em;
    margin-right: 2em;
    font-weight: bold;
}
.report.show #raw-data {
    padding-top: 2em;
}
.report.show #updated {
    font-size: 80%;
    float: right;
    margin-top: 10px;
    margin-right: .5em;
}
.report.show #updated .when {
    font-weight: bold;
}
.report.show #refresh_prompt {
    padding-left: 18px;
    background: url(/images/tick.png) no-repeat 0 50%;
}
.report.show .report-container .wait {
    font-size: 80%;
}


.flash {
    padding: .5em;
    font-weight: bold;
}
.flash.error {
    background: #fee;
    color: #933;
}