* {
    font-size: 10px;
    font-family: sans-serif;
}

body {
    background: #fff;
}

#page {
    width: 970px;
    margin: 0 auto;
    position: relative;
}


#header {
    padding: 20px 0 10px;
}
#header #report-form { 
    float: right; 
    color: #666; 
    font-size: 80%;
    padding-top: 20px;
}
#header #report-form input[type=text] {
    border: 1px solid #333;
    padding: 4px;
    font-size: 100%;
}
#header #report-form input[type=submit] {
    font-size: 100%;
}

#header h1 a {
    background: transparent url(/images/header-logo.png) no-repeat scroll 0 0;
    display: block;
    height: 32px;
    text-indent:-800em;
    width: 100px;
}
#header p {
    color: #fff;
    font-size: 60%;
    font-family: Arial;
    text-transform: uppercase;
    margin-left: 4px;
}

#footer {
    clear: both;
    padding: 2em;
    font-size: 80%;
    color: #aaa;
}
#footer p {
    text-align: center;
}
#footer a {
    color: #ccc;
    text-decoration: none;
}
#footer a:hover {
    color: #fff;
    border-bottom: 1px dotted #fff;
}

#content {
    padding: 16px 16px;
    font-size: 90%;
    background: #fff;

    -moz-border-radius: 8px;
    -webkit-border-radius: 8px;
}

#content h2 {
    font-size: 300%;
    font-weight: normal;
    color: #333;
    margin-bottom: .5em;
}

#content h3 {
    font-size: 140%;
    font-weight: normal;
    color: #333;
    margin-bottom: 1em;
}
#content h4 {
    font-size: 120%;
    font-weight: normal;
    margin-bottom: .5em;
    border-bottom: 1px solid #000;
}

#content p {
    margin-bottom: 1em;
}

#content a {
    color: #69f;
    text-decoration: none;
}
#content a:hover {
    border-bottom: 1px dotted #69f;
}

#chart {
}

#stats {
    width: 200px;
}
#stats dl {
}
#stats dl dt {
    float: left;
    width: 4em;
    margin-right: 2em;
    font-weight: bold;
}

#calendar {
    clear: both;
    
}

table.calendar {
    float: left;
    margin-right: 1em;
    border-bottom: 1px solid #333;
}
table.calendar th.monthName {
    padding: .25em 0;
    font-weight: normal;
}
table.calendar tr.dayName th {
    background-color: #333;
    border: 1px solid #333;
    color: #fff;
    font-size: 80%;
    padding: .5em 0 .25em;
    text-transform: uppercase;
}
table.calendar td.otherMonth,
table.calendar td.day {
    padding: .25em;
    width: 2.25em;
    border: 1px solid #333;
}
table.calendar td.weekendDay {
    background-color: #f8f8f8;
}
table.calendar td span {
    text-align: right;
    display: block;
}
table.calendar td ul.values {
    color: #666;
    font-size: 90%; 
}

table.calendar td.otherMonth {
    color: #bbb;
}
table.calendar td.today {
    background-color: #ff9;
}

table.calendar td {
    text-align: right;
}

#raw-data {
    clear: both;
    padding-top: 2em;
}
#raw-data table tbody td,
#raw-data table tbody th {
    padding: .25em 1em 0 .5em;
    border-bottom: 1px solid #ccc;
    text-align: left;
}
#raw-data table thead th {
    background: #eee;
/*    border-top: 1px solid #333;*/
/*    border-bottom: 1px solid #333;*/
/*    color: #fff;*/
    padding: .5em 1em .25em .5em;
    text-align: left;
    font-size: 80%;
    text-transform: uppercase;
}

blockquote.tweet {
    width: 30em;
    margin: .5em 0 .5em 2em;
    background: #f4f4f4;
/*    border: 1px dashed #999;*/
    padding: 1em;
    font-size: 110%;
}

.highlight {
    background: #ff9;
}
