%dl.quote
  %dt= fancy_quote '&hellip;a truly unique use of Twitter.'
  %dd.source
    = link_to 'Adam Darowski', 'http://darowski.com'
  %dd.company 
    = link_to 'BatchBlue Software', 'http://batchblue.com'
