%blockquote.tweet
  %p
    - if tweet.twitterer
      = link_to image_tag(twitter_profile_image_url(tweet.twitterer.username), :alt => "@#{tweet.twitterer.username}", :height => 48, :width => 48, :align => 'left', :valign => 'middle'), tweet.twitterer.profile_url
    = status_text_with_report_links tweet
