%h2
  Use your Twitter account to track any metric &amp; observe trends over time.
    
%p  
  %strong
    Just tweet a value and hashtag to 
    == #{link_to '@twackit', 'http://twitter.com/twackit'}.      
  You don&#8217;t need to sign up for anything, and it&#8217;s totally free!
%p
  Twackit will find your tweets and generate simple reports.      
  Twack as many different things as you like &mdash; just pick meaningful hashtags to 
  %strong categorize 
  your twacks. You can even include a 
  %strong note 
  if you&#8217;d like!
    
%p
  Here are some examples to help you get started&hellip;

%blockquote.tweet @twackit 165 #weight
%blockquote.tweet @twackit 37 #mpg a lot of highway driving this week!

%br
%p
  Use more than one hashtag if you want to 
  %strong drill down 
  in different ways.

%blockquote.tweet @twackit 1.50 #expenses #tolls
%blockquote.tweet @twackit 7.35 #expenses #lunch Mel's Diner

%br
%p
  %strong Want to know more about Twackit?
  Check out the
  = link_to 'FAQ', faq_path
  for more information.
