:javascript
  var uservoiceJsHost = ("https:" == document.location.protocol) ? "https://uservoice.com" : "http://cdn.uservoice.com";
  document.write(unescape("%3Cscript src='" + uservoiceJsHost + "/javascripts/widgets/tab.js' type='text/javascript'%3E%3C/script%3E"))
:javascript
  UserVoice.Tab.show({
    key: 'twackit',
    host: 'twackit.uservoice.com',
    forum: 'general',
    alignment: 'left',
    background_color:'#06c',
    text_color: 'white',
    hover_color: '#09f',
    lang: 'en'
  });
  UserVoice.Popin.setup({
    key: 'twackit',
    host: 'twackit.uservoice.com',
    forum: 'general',
    lang: 'en'
  });
